@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-primary font-sans;
}

.font-serif {
  font-family: 'CMU Serif', serif;
}

.font-sans {
  font-family: 'Mulish', sans-serif;
}

/* General Button Gradient */
.gradient-button {
  @apply py-4 px-8 text-white text-center font-medium shadow-sm 
         transition-all duration-300 ease-in-out transform;
  border-radius: 8px;
  background: linear-gradient(135deg, #E15E5F, #99D2CC, #0F2D32, #FACCCC);
  background-size: 200% 200%;
}

.gradient-button:hover {
  background-position: 100% 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.gradient-button:active {
  @apply opacity-90 scale-95;
}

/* Gradient Circle for Play/Pause Button */
.circle-gradient-button {
  @apply flex items-center justify-center text-white font-medium shadow-sm 
         transition-all duration-300 ease-in-out transform rounded-full;
  background: linear-gradient(135deg, #E15E5F, #99D2CC, #0F2D32, #FACCCC);
  background-size: 200% 200%;
  width: 5rem; /* Larger size for Play/Pause button */
  height: 5rem;
}

.circle-gradient-button:hover {
  background-position: 100% 0;
  transform: scale(1.1); /* Slight scaling on hover */
}

.circle-gradient-button:active {
  @apply opacity-90 scale-95;
}

/* Gradient Styling for << and >> Buttons */
.gradient-icon-button {
  @apply flex items-center justify-center text-transparent bg-clip-text 
         bg-gradient-to-r from-[#E15E5F] to-[#99D2CC] font-medium shadow-sm 
         transition-all duration-300 ease-in-out;
}

.gradient-icon-button svg {
  @apply w-8 h-8 text-white; /* Ensures SVG inherits proper size and color */
}

.gradient-icon-button:hover {
  background-position: 100% 0;
  text-opacity: 1; /* Makes the gradient more prominent on hover */
}

.gradient-icon-button:active {
  @apply opacity-90;
}

/* Ensures responsiveness for icons */
.icon-button {
  @apply w-12 h-12 flex items-center justify-center;
}
